.nav-text {
    font-size: 20px;
    color: #000;
}

nav {
    background: #cdcdcd;
    padding: 6px;

    text-align: center;
}

nav li {
    display: inline;
    margin: 0 6px;
}

nav a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;

    background-color: #ddd;
    padding: 6px;
}

nav a:link { color: #000; }
a:link, a:visited { color: blue; text-decoration: none}

nav a:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;

    padding: 6px;
    background-color: grey;
}

tr td {
    padding: 10px;
}