/* http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
    background-color: #fff;
    font-size: 16px;
    font-family: 'helvetica';
    color: #000;
    
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px;
}

nav {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: #ddd;
    color: #000;
}

#logo img {
    width: 360px;
    height: 60px;
}

#top-common {
    margin: 0 auto;
    padding: 10px;

    background-color: #fff;
}

#top-common #logo {
    width: 960px;
    margin: 0 auto;
}

#user-nav { text-align: right; }
#user-nav h2, #user-nav a {
    font-size: 24px;

    color: #000;
}

#user-nav button {
    padding: 2px;
}

#user-reg {
    margin: 20px auto;
}

#user-reg li {
    display: inline-block;
}

#user-reg a {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: #000;
    padding: 10px;
}

.alink {
    font-size: 18px;
    text-decoration: none;
    margin: 0;
    padding: 24px;
    display: inline-block;

    color: #000;
}

#main-nav {
    width: 960px;
    margin: 0 auto;
    text-align: center;

    background-color: #ddd
}

#main-nav li { display: inline; }

#main-nav a:hover {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: #5d5d5d;
    color: #000;
}

#content h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

#content button {
    padding: 6px;
}

#content {
    margin: 10px auto;
    width: 960px;
    padding: 10px;
}

footer {
    position: absolute;
    left: 0; bottom: 0;
    height: 60px;
    width: 100%;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: grey;
}

footer h1 {
    text-align: center;
}

.footer-element {
    margin: 8px auto;
}

.save-changes {
	margin-top: 10px;
	color: red;
}

#user-info-container a {
    font-size: 16px;
}
