fieldset {
    margin-top: 8px;
}

fieldset label {
    display: inline-block;
}
fieldset input, fieldset textarea {
    display: block;
}

.field-list {
    margin-top: 6px;
}

fieldset legend {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;


    margin: 6px 0;
}