.image-container img {
    width: 200px;
    height: 200px;
}

.image-container {
    margin: 0 auto;
}

.image-box {
    display: inline-block;
}

.image-box p { text-align: center;}
#index-content { text-align: center; }