#product-listing-content {
    text-align: center;
}

#product-content {
    text-align: left;
}

.box {
    vertical-align: top;
    display: inline-block;

    /* IE */
    *display: inline;
    zoom: 1;
}

.box-uniq {
    width: 40%;
    height: 50%;
}

.box-all {
    width: 160px;
    height: 50%;
}

.stretch {
    width: 100%;
    display: inline-block;

    font-size: 0;
    line-height: 0;
}

.plink {
    width: 160px;
    height: 60px;
    float: left;
    margin: 0 9px;
}

.header { font-size: 20px; }

.product_container a {
    text-decoration: underline;
    color: darkslateblue;
}

.image-preview {
    width: 200px;
    height: 200px;
}

.image-container {
    margin: 8px;
    display: inline-block;
    float: left;
    
    background: grey;
    padding: 10px;
}

.image-container input { margin: 2px;}
.comment-box {
    margin: 6px 0;

    border: 3px solid skyblue;
}
.user-x-comment { width: 15px; height: 15px; }
.data-indent { text-indent: 20px; }

.comment-bottom-right-panel {
    margin: 6px 0;

    text-align: left;
}
.comment-textfield {
    font-size: 16px;
    height: 100px;
}

.comment-submit {
    color: #fff;
    background: #3B5998;
    font-weight: bold;
    text-align: center;

    font-size: 12px;

    padding: 6px;
}

.delete-comment-box {display: inline-block;}

.username {
    font-size: 16px;
    font-weight: bold;
}

.user-toolbox, .comment-data { padding: 6px;}
#pagination-container { margin: 20px auto; text-align: center;}
#pagination-container li { display: inline-block; padding: 8px; margin-top: 12px;}
#pagination-container a {
    text-decoration: none; color: blue;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: skyblue;
    padding: 10px;
}
.box a { text-decoration: none; }
.box a:visited { color: blue; }
#query-container, #listing-container { text-align: center; }
#product-content { text-align: center; }
#product-specific-content { text-align: left; }